@model AppDev_FTS.ViewModels.UsersGroupViewModel
@{
    ViewBag.Title = "Index";
}

<h2>View Index Admin</h2>

<p>
    @Html.ActionLink("Create a new Account", "Create", null, new { @class = "btn btn-primary" })
</p>

</p>

<h3>Staff Account</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">User Name</th>
            <th scope="col">Full name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var staff in Model.Staffs)
        {
        <tr>
            <th scope="row">@{i++;}@i</th>
            <td>@staff.UserName</td>
            <td>@staff.FullName</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Account", new { id = staff.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", "Account", new { id = staff.Id }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Details", "Details", "Account", new { id = staff.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("ResetPassword", "ResetPassword", "Account", new { id = staff.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
        }
    </tbody>
</table>

<h3>Trainer Account</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">UserName</th>
            <th scope="col">Full Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{i = 0;}
        @foreach (var trainer in Model.Trainers)
        {
        <tr>
            <th scope="row">@{i++;}@i</th>
            <td>@trainer.UserName</td>
            <td>@trainer.FullName</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Account", new { id = trainer.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", "Account", new { id = trainer.Id }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Details", "Details", "Account", new { id = trainer.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("ResetPassword", "ResetPassword", "Account", new { id = trainer.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
        }
    </tbody>
</table> 