@model AppDev_FTS.ViewModels.UsersGroupViewModel
@{
    ViewBag.Title = "Index";
}

<h2>View Index Trainee Account</h2>

<p>
    @Html.ActionLink("Create Trainee Account", "Create", null, new { @class = "btn btn-primary" })
</p>


<div class="form-group">
    @using (Html.BeginForm("Index", "Account", FormMethod.Get))
    {
        <div class="form-group">
            @Html.TextBox("searchString", null, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    }
</div>


@*<form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Srearch Trainee by Name and Age" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>*@

<h3>Trainee Account</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">User Name</th>
            <th scope="col">Full name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var trainee in Model.Trainees)
        {
            <tr>
                <th scope="row">@{i++;}@i</th>
                <td>@trainee.UserName</td>
                <td>@trainee.FullName</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Account", new { id = trainee.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Delete", "Delete", "Account", new { id = trainee.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Details", "Details", "Account", new { id = trainee.Id }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>